In [1]:
import pandas as pd

In [2]:
budget_data=pd.read_csv("C:\\Users\\Banni\Desktop\\budget_data.csv")
budget_data

      Date  Profit/Losses
0   Jan-10        1088983
1   Feb-10        -354534
2   Mar-10         276622
3   Apr-10        -728133
4   May-10         852993
..     ...            ...
81  Oct-16        -729004
82  Nov-16        -112209
83  Dec-16         516313
84  Jan-17         607208
85  Feb-17         382539

[86 rows x 2 columns]

In [10]:
Total_months=budget_data["Date"].count()
Total_months

86

In [11]:
net_total=budget_data["Profit/Losses"].sum()
net_total

22564198

In [12]:
Data_change=budget_data["Profit/Losses"].diff()
Data_change

0           NaN
1    -1443517.0
2      631156.0
3    -1004755.0
4     1581126.0
        ...
81   -1627245.0
82     616795.0
83     628522.0
84      90895.0
85    -224669.0
Name: Profit/Losses, Length: 86, dtype: float64

In [17]:
Avg_change=Data_change.mean()
Avg_change

-8311.105882352942

In [25]:
greatest_increase=budget_data.loc[Data_change.idxmax()]
greatest_increase

Date             Aug-16
Profit/Losses    951227
Name: 79, dtype: object

In [26]:
greatest_decrease=budget_data.loc[Data_change.idxmin()]
greatest_decrease

Date              Feb-14
Profit/Losses    -946748
Name: 49, dtype: object